<footer class="footer">
    <p>달리 명시되지 않는 한 docs.ficsit.app은 <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0(GPLv3)</a>에 따라 사용이 허가됩니다.</p>
</footer>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
    apiKey: '53b3a8362ea7b391f63145996cfe8d82',
    indexName: 'ficsit',
    inputSelector: '#search-input',
    debug: false
});
</script>
