<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
            <div class="navbar-item hide-for-print">
                <input id="search-input" type="text" placeholder="문서 검색">
            </div>
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">새티스팩토리 모딩</div>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="https://github.com/versebrik/DocumentationKO">깃허브</a>
                        <a class="navbar-item" href="https://github.com/satisfactorymodding/SatisfactoryModLoader">
                            새티스팩토리 모드 로더
                        </a>
                        <a class="navbar-item" href="https://ficsit.app">새티스팩토리 모드 저장소</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">커뮤니티</div>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="https://discord.gg/xkVJ73E">디스코드</a>
                        <a class="navbar-item" href="https://github.com/versebrik/DocumentationKO">깃허브</a>
                        <a class="navbar-item" href="https://forums.ficsit.app">보관된 포럼</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="old-version-warning" class="version-warning hidden" style="height:70vh">
            <strong>오래된</strong> 버전의 문서를 보고 있습니다!<br>
            이 곳의 정보는 잘못된 지시를 시킬 수 있습니다!<br>
            사람들이 계속 무시하기 때문에 이 경고 메시지가 이렇게 큰 겁니다!<br>
            <a href="https://sfdocsko.versebrik.com/satisfactory-modding-ko/latest/index.html">
                여기를 클릭하여 최신 버전으로
            </a>
            이동하거나,
            <a href="javascript:void(0);" onclick="hide_version_warning()">
                여기를 클릭해 경고를 무시합니다.
            </a>
            <br> <br> <br>
        </div>
        <div id="dev-version-warning" class="version-warning hidden" style="max-height:5.5rem">
            You are viewing the <strong>development</strong> version of the docs!<br>
            Information here could be inconsistent with other pages,
            or apply to features that have not been released yet.<br>
            <a href="https://docs.ficsit.app/satisfactory-modding/latest/index.html">
                Click here to view stable,
            </a>
            or
            <a href="javascript:void(0);" onclick="hide_version_warning()">
                here to hide the warning.
            </a>
            <br> <br> <br>
        </div>
    </nav>
    <script>
        function hide_version_warning() {
            document.querySelector('#old-version-warning').classList.add("hidden");
            document.querySelector('#dev-version-warning').classList.add("hidden");
            document.querySelector("header.header").style['margin-bottom'] = '0.0rem';
        }

        /* In its own function to allow easier dev testing */
        function display_warnings(pageLocation) {
            if (pageLocation.includes("satisfactory-modding") && !pageLocation.includes("latest")) {
                document.querySelector("#old-version-warning").classList.remove("hidden");
                document.querySelector("header.header").style['margin-bottom'] = '2.5rem';
            } else if (pageLocation.includes("satisfactory-modding") && pageLocation.includes("docs-dev")) {
                document.querySelector("#dev-version-warning").classList.remove("hidden");
                document.querySelector("header.header").style['margin-bottom'] = '5.5rem';
            }
        }
        display_warnings(window.location.href);
    </script>
</header>